@page "/about"

<h3>Developer page</h3>

<div class="container">
    <div class="card-deck">
        <div class="card bg-primary">
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h4>Dhana Lakshmi Govada</h4>
                </header>
                <div class="w3-container">
                    <p>s170714@rguktsklm.ac.in</p>
                    <hr>
                    <img src="https://www.pngarts.com/files/3/Avatar-PNG-High-Quality-Image.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:50px">
                    <p>Back-End  Developer</p><br>
                </div>
                <button class="w3-button w3-block w3-dark-grey " onclick="window.location.href='https://w3docs.com';">More</button>
            </div>
        </div>

        <div class="card bg-primary">
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h4>Dhanya Deepika </h4>
                </header>
                <div class="w3-container">
                    <p>s170510@rguktsklm.ac.in</p>
                    <hr>
                    <img src="https://www.pngarts.com/files/3/Avatar-PNG-High-Quality-Image.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:50px">
                    <p>Front-End  Developer</p><br>
                </div>
                <button class="w3-button w3-block w3-dark-grey " onclick="window.location.href='https://w3docs.com';">More</button>
            </div>
        </div>
        <div class="card bg-primary">
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h4>Tejaswini Gedde</h4>
                </header>
                <div class="w3-container">
                    <p style="align-content">s170786@rguktsklm.ac.in</p>
                    <hr>
                    <img src="https://www.pngarts.com/files/3/Avatar-PNG-High-Quality-Image.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:50px">
                    <p>Data Analyst</p><br>
                </div>
                <button class="w3-button w3-block w3-dark-grey " onclick="window.location.href='https://w3docs.com';">More</button>
            </div>
        </div>
        <div class="card bg-primary">
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h4>Sivani Bammidi</h4>
                </header>
                <div class="w3-container">
                    <p>s170301@rguktsklm.ac.in</p>
                    <hr>
                    <img src="https://www.pngarts.com/files/3/Avatar-PNG-High-Quality-Image.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:50px">
                    <p>Front-End Developer</p><br>
                </div>
                <button class="w3-button w3-block w3-dark-grey " onclick="window.location.href='https://w3docs.com';">More</button>
            </div>
        </div>
    </div>
</div>